{
  "$schema": "https://json.schemastore.org/swcrc.json",
  "jsc": {
    "parser": {
      "syntax": "ecmascript",
      "jsx": true
    },
    "target": "es2022",
    "transform": {
      "react": {
        "pragma": "Prxmpt.createElement",
        "pragmaFrag": "Prxmpt.Fragment"
      }
    }
  },
  "module": {
    "resolveFully": true,
    "type": "es6"
  }
}
